.container{
    margin: 20px;
    display: grid;
    grid-template-columns: 200px 2fr 20% 1fr;
    grid-template-rows: 2.4rem 5rem;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.el1{
    background-color: rgba(233, 15, 123, 0.5);
}

.el2{
    background-color: rgba(23, 45, 202, 0.5);
}

.el3{
    background-color: rgba(123, 194, 64, 0.5);
}


.el4{
    background-color: rgba(152, 125, 185, 0.5);
}